<div *ngIf="!list">
    <span #loading>
        <ng-content select="[loading]"></ng-content>

    </span>
    <span *ngIf="!loading.innerHTML.trim()">
        <img 
            src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif"
            width="40" 
            height="50"
        />
    </span>

    
</div>


<div *ngIf="list?.length === 0">

    <span #empty>
        <ng-content select="[empty]"></ng-content>

    </span>

    <span *ngIf="!empty.innerHTML.trim()">

        there are no records to displayy
    </span>

</div>

<ng-container *ngIf="list && list.length > 0"> 

    <ng-content select="[content]"></ng-content>

</ng-container>